/* 
font-family: 'Merriweather Sans', sans-serif;
*/

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--body-bg-color);
    font-family: 'Merriweather Sans', sans-serif;
}

/* sessão aside */
.jn {
  width: 348px;
  height: 292px;

  background-color: var(--bg-cards);

  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  margin: 40px 0 0 40px;
}

.jn img {
  margin-top: 32px;
  margin-left: 110px;
}

.jn h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  
  color: var(--text-color);

  margin-top: 30px;
  margin-left: 76px;
}

.jn p {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;

  color: var(--text-color);

  margin-top: 10px;
  margin-left: 110px;
}

.box2 {
  display: flex;
  flex-direction: row;
  

  width: 348px;
  height: 348px;

  background-color: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  margin-top: 32px;
  margin-left: 40px;
}

.logos {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding-top: 30px;
  margin-left: 40px;
  

  width: 24px;
  height: 24px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 28px;

  margin-top: 33px;
  margin-left: 20px;
}

.links a {
  text-decoration: none;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #837E9F;
}

.tech {
  width: 348px;
  height: 208px;

  background-color: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  margin-top: 30px;
  margin-left: 40px;
}

.tech h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;

  color: var(--text-color);

  padding-top: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.row1 {
  display: flex;
  flex-direction: row;
  gap: 15px;

  margin-left: 30px;
  margin-bottom: 15px;

}

.row1 p {
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;

  padding-top: 6px;

  width: 86px;
  height: 24px;

  background-color: var(--bg-techs);

  border-radius: 30px;
}

.exp {
  width: 348px;
  height: 349px;

  background-color: var(--bg-cards);
  
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  margin-top: 30px;
  margin-left: 40px;
}

.exp h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;

  color: var(--text-color);

  padding-top: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.exp ul li {
  margin-left: 65px;
  margin-bottom: 15px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: var(--text-color);
}

.sp2 {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

.sp3 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.educ {
  width: 348px;
  height: 352px;

  background-color: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  margin-top: 30px;
  margin-left: 40px;
}

.educ h1 {
  padding-top: 30px;
  margin-left: 20px;

  margin-bottom: 20px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;

  color: var(--text-color);
}

.educ ul li {
  margin-left: 65px;
  margin-bottom: 15px;

  font-weight: 700px;
  font-size: 14px;
  line-height: 17px;

  color: var(--text-color);
}

.sp4 {
  font-weight: 300px;
  font-size: 12px;
  line-height: 15px;
}

.sp5 {
  font-weight: 400px;
  font-size: 12px;
  line-height: 15px;
}

/* sessão header */

.mp {
  width: 952px;
  height: 86px;

  position: absolute;
  left: 448px;
  top: 40px;

  background-color: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
}

.mp h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;

  color: var(--text-color);
}

.mp a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: var(--text-color);
}

.my-on {
  display: flex;
  flex-direction: row;
  gap: 30px;

  position: absolute;
  left: 448px;
  top: 157px;
}

.on1 {
  width: 461px;
  height: 186px;

  background-color: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 16px;

  padding-top: 30px;
  margin-left: 30px;
}

.container h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: var(--text-color);
}

.on1 p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: var(--text-color);

  margin-left: 30px;
  margin-top: 22px;
  
}
.infe {
  display: flex;
  flex-direction: row;
  gap: 180px;
  
}

.cem {
  display: flex;
  flex-direction: row;
  gap: 16px;

  margin-left: 30px;
  margin-top: 30px;
}

.cem a {
  text-decoration: none;
  color: var(--text-color);
  
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.cem a img {
  vertical-align: middle;
}

.js p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  
}

.js p img {
  vertical-align: middle;
}

/* sessão main */

.recpos {
  position: absolute;
  top: 373px;
  left: 448px;
  
  width: 952px;
  height: 86px;

  background-color: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

}

main h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);

  margin: 30px;
}

main .erro {
  width: 952px;
  height: 201px;

  position: absolute;
  left: 448px;
  top: 489px;

  background-color: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  display: flex; 
  flex-direction: row;
}

.erro img {
  margin: 30px;
}

.text1 h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;

  color: var(--text-color);
  
  margin-top: 30px;

  padding-bottom: 8px;
}

.text1 p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-color);
}

.text1 h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: var(--text-color);

  padding-top: 28px;
}

.line {
  display: flex;
  flex-direction: row;
  gap: 10px;

  padding-top: 11px;
}

.line p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

/* sessão footer */

footer p {
  text-align: center;
  margin: 19px 0 20px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: var(--text-color);
}





